footer{
    background: 3em rgb(193, 193, 194);
    text-align:left;
    font-size: 50%;
    font-style: unset;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li{
    display:inline;
    font-family: Arial, Helvetica, sans-serif;
}

    
